
@{
    ViewBag.Title = "MainIndex";
}
<style>
    .backgrd {
        background-image: url('../../images/register.jpg');
        background-repeat:space;
        background-repeat:space;
        background-size:100% 200%;
    }
   
</style>
<body class="backgrd">
    <h2>
        <i>Welcome To Sports Club</i>
    </h2>
    <marquee style="font-size:40px; color:white">
        <span style="font-family:'Open Sans',bold,sans-serif;">
            "Offer Closes Soon. Hurry up!"
        </span>
    </marquee>

    @*
        <div class="container">
            <div class="col-md-6">
                <ul class="list-group">
                    <li class="list-group-item">
                        @Html.ActionLink("AdminLogin", "Login", "Account", null, new { @class = "btn btn-primary" })
                    </li>
                    <li class="list-group-item">
                        @Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-info" })
                    </li>
                    <li class="list-group-item">
                        @Html.ActionLink("User Login", "Userlogin", "Account", null, new { @class = "btn btn-success" })
                    </li>
                </ul>
            </div>
        </div>*@
</body>

